/.DS_Store
/.idea
/.git
/.github
/.gitignore
/.env
/.composer/auth.json
/.gitattributes
/build.xml
/build.properties
/default.vcl
/docker-compose.yml
/Dockerfile
/icon.svg
/Makefile
/README.md
/src/auht.json
/src/phpunit.xml
/src/app/etc/env.php
/src/bin/phpunit
/src/dev
/src/generated
/src/phpserver
/src/node_modules
/src/pub/static
/src/var
/src/vendor
/src/.editorconfig
/src/default.vcl
